<html lang="en">

<!-- Mirrored from coderthemes.com/konrix/layouts//userDashboard by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Mar 2025 19:19:24 GMT -->

<head>
  <meta charset="utf-8" />
  <title>Dashboard </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="coderthemes" name="author" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- App css -->
  <link href="css/app.min.css" rel="stylesheet" type="text/css" />

  <!-- Icons css -->
  <link href="css/icons.min.css" rel="stylesheet" type="text/css" />

  <!-- Theme Config Js -->
  <script src="js/config.js"></script>
</head>
<style>
  .app-header {
    background: linear-gradient(90deg, #1b121d 0, #120f2f 50%,
        #1b121d 100%);
    ;
  }

  .app-menu {
    background: linear-gradient(90deg, #1b121d 0,
        #120f2f 50%, #1b121d 100%);
  }

  body {
    background-color: black;
  }

  .card {
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background:
      linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
    ;
    border: 1px solid rgba(255, 255, 255, .15);
  }

  footer {
    background: linear-gradient(90deg,
        #1b121d 0, #120f2f 50%, #1b121d 100%);
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content:
      center;
    max-width: 960px;
    margin: auto;

    #inviteCode.invite-page {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      background-color: transparent;
      border: none;
      padding: 10px;
      margin-bottom:
        10px;
      border-radius: 5px;
      justify-content: space-between;
      width: 100%;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, .07);

      #link {
        align-self: center;
        font-size: 15px;
        color: #9097a7;
        font-weight: 600;
        flex-grow: 2;
        background-color: transparent;
        border: none;
      }

      #copy {
        width: 30px;
        height:
          30px;
        margin-left: 20px;
        border: 1px solid #9097a7;
        border-radius: 5px;
        background-color: transparent;

        i {
          display: block;
          line-height: 30px;
          position: relative;

          &::before {
            display: block;
            width: 15px;
            margin: 0 auto;
          }

          &.copied::after {
            position: absolute;
            top: 0px;
            right: 35px;
            height: 30px;
            line-height: 25px;
            display: block;
            content: "copied";
            font-size: 1.5em;
            padding: 2px 10px;
            color: #9097a7;
            background-color: #4099FF;
            border-radius:
              3px;
            opacity: 1;
            will-change: opacity, transform;
            animation: showcopied 1.5s ease;
          }
        }

        &:hover {
          cursor: pointer;
          background-color: darken(#f8f8f8, 10%);
          transition: background-color .3s ease-in;
        }
      }
    }
  }

  @keyframes showcopied {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    70% {
      opacity: 1;
      transform:
        translateX(0);
    }

    100% {
      opacity: 0;
    }
  }
</style>

<body>

  <div class="flex wrapper">

    <!-- Sidenav Menu -->
    <div class="app-menu">

      <!-- Sidenav Brand Logo -->
      <a href="/userDashboard" class="logo-box">
        <!-- Light Brand Logo -->
        <div class="logo-light">
          <img src="logo1.png" class="logo-lg h-6" alt="Light logo" style="height:80px;margin-top: 25px;" />
          <img src="logo1.png" class="logo-sm" alt="Small logo" />
        </div>

        <!-- Dark Brand Logo -->
        <div class="logo-dark">
          <img src="logo1.png" class="logo-lg h-6" alt="Dark logo" />
          <img src="logo1.png" class="logo-sm" alt="Small logo" />
        </div>
      </a>

      <!-- Sidenav Menu Toggle Button -->
      <button id="button-hover-toggle" class="absolute top-5 end-2 rounded-full p-1.5">
        <span class="sr-only">Menu Toggle Button</span>
        <i class="mgc_round_line text-xl"></i>
      </button>

      <!---u -->
      <div class="srcollbar" data-simplebar>
        <ul class="menu" data-fc-type="accordion">
          <li class="menu-title mt-4">Menu</li>

          <li class="menu-item mt-4">
            <a href="/userDashboard" class="menu-link">
              <span class="menu-icon"><i class="mgc_home_3_line"></i></span>
              <span class="menu-text"> Dashboard </span>
            </a>
          </li>

          {{!-- Direact Earning --}}
          <li class="menu-item mt-4">
            <a href="/earning" class="menu-link">
              <span class="menu-icon"><i class="mgc_coupon_line"></i></span>
              <span class="menu-text">Direct Earning</span>
            </a>
          </li>

          {{!-- Level Earning --}}
          <li class="menu-item mt-4">
            <a href="/level-earning" class="menu-link">
              <span class="menu-icon"><i class="mgc_coupon_line"></i></span>
              <span class="menu-text">Level Earning</span>
            </a>
          </li>

          <li class="menu-item mt-4">
            <a href="#" class="menu-link">
              <span class="menu-icon"><i class="mgc_exit_line me-2"></i></span>
              <span class="menu-text">Log out</span>
            </a>
          </li>

        </ul>

        <!-- Help Box Widget -->

      </div>
    </div>
    <!-- Sidenav Menu End  -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="page-content">




      <!-- Topbar Start -->
      <header class="app-header flex items-center px-4 gap-3">
        <!-- Sidenav Menu Toggle Button -->
        <button id="button-toggle-menu" class="nav-link p-2">
          <span class="sr-only">Menu Toggle Button</span>
          <span class="flex items-center justify-center h-6 w-6">
            <i class="mgc_menu_line text-xl"></i>
          </span>
        </button>

        <!-- Topbar Brand Logo -->
        <a href="/userDashboard" class="logo-box">
          <!-- Light Brand Logo -->
          <div class="logo-light">
            <img src="logo1.png" class="logo-lg h-6" alt="Light logo" />
            <img src="logo1.png" class="logo-sm" alt="Small logo" />
          </div>

          <!-- Dark Brand Logo -->
          <div class="logo-dark">
            <img src="logo1.png" class="logo-lg h-6" alt="Dark logo" />
            <img src="logo1.png" class="logo-sm" alt="Small logo" />
          </div>
        </a>

        <!-- Topbar Search Modal Button -->
        <button type="button" data-fc-type="modal" data-fc-target="topbar-search-modal" class="nav-link p-2 me-auto">
          <span class="sr-only">Search</span>
          <span class="flex items-center justify-center h-6 w-6">
            <i class="mgc_search_line text-2xl"></i>
          </span>
        </button>

        <!-- Language Dropdown Button -->

        <!-- Fullscreen Toggle Button -->
        <div class="md:flex hidden">
          <button data-toggle="fullscreen" type="button" class="nav-link p-2">
            <span class="sr-only">Fullscreen Mode</span>
            <span class="flex items-center justify-center h-6 w-6">
              <i class="mgc_fullscreen_line text-2xl"></i>
            </span>
          </button>
        </div>

      </header>
      <!-- Topbar End -->

      <!-- Topbar Search Modal -->
      <div>
        <div id="topbar-search-modal" class="fc-modal hidden w-full h-full fixed top-0 start-0 z-50">
          <div
            class="fc-modal-open:opacity-100 fc-modal-open:duration-500 opacity-0 transition-all sm:max-w-lg sm:w-full m-12 sm:mx-auto">
            <div
              class="mx-auto max-w-2xl overflow-hidden rounded-xl bg-white shadow-2xl transition-all dark:bg-slate-800">
              <div class="relative">
                <div
                  class="pointer-events-none absolute top-3.5 start-4 text-gray-900 text-opacity-40 dark:text-gray-200">
                  <i class="mgc_search_line text-xl"></i>
                </div>
                <input type="search"
                  class="h-12 w-full border-0 bg-transparent ps-11 pe-4 text-gray-900 placeholder-gray-500 dark:placeholder-gray-300 dark:text-gray-200 focus:ring-0 sm:text-sm"
                  placeholder="Search..." />
              </div>
            </div>
          </div>
        </div>
      </div>

      <main class="flex-grow p-6">

        <!-- Page Title Start -->
        <div class="flex justify-between items-center mb-6">
          <h4 class="text-slate-900 dark:text-slate-200 text-lg font-medium">Dashboard</h4>

        </div>
        <!-- Page Title End -->

        {{>Dashboard}}
        <!-- Grid End -->



        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

          <div class="col-span-1">
            <div class="card">
              <div class="card-header">
                <div class="flex justify-between items-center">
                  <h4 class="card-title">Buy Coins</h4>

                </div>
              </div>

              <div class="py-6">
                <div class="px-6" data-simplebar style="max-height: 340px;">
                  <div class="space-y-4">
                    <div class="border border-gray-200 dark:border-gray-700 rounded p-2">

                      <h3 class="text-gray-500 dark:text-gray-400 text-lg mb-1">Total Coin Sales USD</h3>
                      <p class="text-gray-500 dark:text-gray-400 text-sm">
                        $500,000.00</p>
                    </div>

                    <div class="border border-gray-200 dark:border-gray-700 rounded p-2">

                      <h3 class="text-gray-500 dark:text-gray-400 text-lg mb-1">Total Coins Sold</h3>
                      <p class="text-gray-500 dark:text-gray-400 text-sm" id="totalCoinSold">
                        00.00</p>
                    </div>
                    <div class="flex flex-col items-center gap-4">
                      <input type="text" class="form-input rounded-full px-4 py-2" placeholder="Enter Amount"
                        id="transferAmount" />
                      <input type="text" class="form-input rounded-full px-4 py-2" placeholder="Enter Referral Address"
                        id="referalAddress" />

                      <!-- Optional max button -->
                      <!--
                    <span>
                      <a href="#" data-fc-type="dropdown" data-fc-placement="bottom" type="button"
                        style="background: linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
                               border: 1px solid gray;
                               border-radius: 12px;"
                        class="btn inline-flex justify-center items-center bg-primary text-white w-full fc-dropdown">
                        Max
                      </a>
                    </span>
                    -->
                    </div>

                    <div class="relative">
                      {{!-- <a href="#" data-fc-type="dropdown" data-fc-placement="bottom" type="button"
                        style="      background: linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);border: 1px solid gray;border-radius: 12px;"
                        class="btn inline-flex justify-center items-center bg-primary text-white w-full fc-dropdown">
                        <i class="mgc_add_line text-lg me-2"></i>
                        Connect Wallet
                      </a> --}}

                      <button id="transferButton" type="button"
                        style="      background: linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);border: 1px solid gray;border-radius: 12px;"
                        class="btn inline-flex justify-center items-center bg-primary text-white w-full">
                        <i class="mgc_add_line text-lg me-2"></i>
                        Buy Coins
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-span-1">
            <div class="card">
              <div class="card-header">
                <h4 class="text-lg font-semibold text-gray-800 dark:text-gray-300">Your Mining Portfolio</h4>
              </div>

              <div class="flex flex-col">
                <div class="overflow-x-auto">
                  <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden">
                      <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
                        <thead class="bg-gray-50 dark:bg-gray-700">
                          <tr class="text-gray-800 dark:text-gray-300">
                            <th scope="col" class="p-3.5 text-sm text-start font-semibold min-w-[10rem]">Hash
                            </th>
                            <th scope="col" class="p-3.5 text-sm text-start font-semibold min-w-[10rem]">Created At
                            </th>
                            <th scope="col" class="p-3.5 text-sm text-start font-semibold min-w-[6rem]">Amount
                            </th>
                            <th scope="col" class="p-3.5 text-sm text-start font-semibold min-w-[8rem]">Sender</th>
                            <th scope="col" class="p-3.5 text-sm text-start font-semibold min-w-[6rem]">Receiver</th>
                          </tr>
                        </thead>
                        <tbody id="transactionBody" class="divide-y divide-gray-200 dark:divide-gray-600">
                          {{!-- Dynamically data load here --}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Grid End -->

      </main>

      <!-- Footer Start -->
      <footer class="footer h-16 flex items-center px-6 bg-white shadow dark:bg-gray-800">
        <div class="flex justify-center w-full gap-4">
          <div>
            <script>document.write(new Date().getFullYear())</script>
            © Design
          </div>
        </div>
      </footer>
      <!-- Footer End -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

  </div>

  <!-- Back to Top Button -->
  <button data-toggle="back-to-top"
    class="fixed hidden h-10 w-10 items-center justify-center rounded-full z-10 bottom-20 end-14 p-2.5 bg-primary cursor-pointer shadow-lg text-white">
    <i class="mgc_arrow_up_line text-lg"></i>
  </button>

  <!-- Theme Settings -->
  <div>

  </div>



  <!-- Plugin Js -->
  <script src="libs/simplebar/simplebar.min.js"></script>
  <script src="libs/feather-icons/feather.min.js"></script>
  <script src="libs/%40frostui/tailwindcss/frostui.js"></script>

  <!-- App Js -->
  <script src="js/app.js"></script>

  <!-- Apexcharts js -->
  <script src="libs/apexcharts/apexcharts.min.js"></script>

  <!-- Dashboard Project Page js -->
  <script src="js/pages/dashboard.js"></script>




  <script src="https://cdn.jsdelivr.net/npm/web3@4.16.0/dist/web3.min.js"></script>
  <script src="/buy.js"></script>


</body>

</html>