<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect Wallet</title>
    {{!--
    <script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script> --}}

</head>

<body>
    <ul class="metaportal_fn_items">
        <li>
            <button class="item" id="connectWalletBtn">
                <span class="icon">
                    <img src="/img/wallet/walletconnect.png" alt="">
                </span>
                <span class="text" id="WalletAddressUser" style="color:green">Connect wallet</span>
            </button>
        </li>
    </ul>

    <script src="/newdist6//bundle.js"></script>


</body>

</html>