<footer id="footer">
    <div class="container">
        <div class="footer">
            <div class="left_part">
                <p>Copyright 2025 — Designed</p>
            </div>
            <div class="right_part">
                <ul>
                    <li><a class="creative_link" href="#">Privacy Policy</a></li>
                    <li><a class="creative_link" href="#">Cookies</a></li>
                    <li><a class="creative_link" href="#">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>