<header id="header">
    <div class="header">
        <div class="header_in">

            <div class="trigger_logo">
                <div class="trigger">
                    <span></span>
                </div>
                <div class="logo" style="padding: 2px;">
                    <a href="/"><img src="img/logo1.png" alt="" style="height:90px;"></a>
                </div>
            </div>

            <div class="nav">
                <ul>
                    <li><a class="creative_link" href="/">Home</a></li>
                    <li><a class="creative_link" href="/about">About</a></li>
                    <li><a class="creative_link" href="/tocenomics">Tocenomic</a></li>
                    <li><a class="creative_link" href="/roadmap">RoadMap</a></li>
                    <li><a class="creative_link" href="/contact">Contact</a></li>
                </ul>
            </div>

            <div class="wallet">
                <a href="#" class="metaportal_fn_button wallet_opener"><span id="walletAddress1">Connect To
                        Wallet</span></a>
            </div>

        </div>
    </div>
</header>




<script>
    document.addEventListener("DOMContentLoaded", function () {
        const WalletConnection = async () => {
            const web3 = new Web3(window.ethereum);
            try {
                const accounts = await window.ethereum.request({ method: "eth_requestAccounts" });
                const walletAddress = accounts[0];

                if (walletAddress) {
                    const walletOpener = document.getElementById("walletAddress");
                    const walletOpner1 = document.getElementById("walletAddress1");

                    const shortAddress = `${walletAddress.slice(0, 5)}...${walletAddress.slice(-4)}`;

                    if (walletOpener) walletOpener.innerText = shortAddress;
                    if (walletOpner1) walletOpner1.innerText = `Connected ${shortAddress}`;

                    // Optional redirect
                    window.location.href = "/userDashboard";
                } else {
                    const walletText = document.getElementById("walletText");
                    if (walletText) walletText.innerText = "Connect Wallet";
                }

            } catch (error) {
                console.error("Error connecting to wallet:", error);
            }
        };

        WalletConnection();
    });
</script>